<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" charset="utf-8">
<title>Usuarios</title>

<link href="/css/main.css" rel="stylesheet" />

<!-- WEBJARS -->
<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>

<body class="main-bg-amarelo">
	<!-- Barra de Menu -->
	<section th:insert="navbar :: navbar"></section>
	
	<section class="container">
		<div class="row justify-content-center shadow-sm rounded mt-3 p-3">
			<div class="col-12">
				<h5 class="text-center main-text-castanho">Usuarios</h5>
			</div>
			<div class="col-auto mt-2 table-responsive">
				<table class="table table-hover table-striped  table-sm mt-2">
					<thead class="thead-dark main-bg-castanho-cachorro">
						<tr>
							<th class="text-left font-weight-normal" scope="col">Nome</th>
							<th class="text-left font-weight-normal" scope="col">Sobrenome</th>
							<th class="text-left font-weight-normal" scope="col">CPF</th>
							<th class="text-left font-weight-normal" scope="col">Telefone</th>
							<th class="text-left font-weight-normal" scope="col">E-mail</th>
							<th class="text-left font-weight-normal" scope="col">Logradouro</th>
							<th class="text-left font-weight-normal" scope="col">Numero</th>
							<th class="text-left font-weight-normal" scope="col">Complemento</th>
							<th class="text-left font-weight-normal" scope="col">CEP</th>
							<th class="text-left font-weight-normal" scope="col">Bairro</th>
							<th class="text-left font-weight-normal" scope="col">Cidade</th>
							<th class="text-left font-weight-normal" scope="col">Estado</th>
							<th class="text-left font-weight-normal" scope="col">Data de Criação</th>
							<th scope="col"></th>
							<th scope="col"></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="item : ${lista}" >
							<td th:text="${item.nome}"/>
							<td th:text="${item.sobrenome}"/>
							<td th:text="${item.cpf}"/>
							<td th:text="${item.telefone}"/>
							<td th:text="${item.email}"/>
							<td th:text="${item.endereco.logradouro}"/>
							<td th:text="${item.endereco.numero}"/>
							<td th:text="${item.endereco.adicional}"/>
							<td th:text="${item.endereco.cep}"/>
							<td th:text="${item.endereco.bairro}"/>
							<td th:text="${item.endereco.localidade}"/>
							<td th:text="${item.endereco.uf}"/>
							<td th:text="${item.registro}"/>
							<td class="text-center align-middle"><a th:href="@{/profile_html/form(id=${item.id})}" class="btn btn btn-warning btn-sm">Editar</a></td>
							<td class="text-center align-middle" scope="row">
								<a class="btn btn btn-danger btn-sm" th:href="@{/profile_html/excluir(id=${item.id})}">Excluir</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	<section th:insert="mensagem :: mensagem"></section>
	</section>
	
	<script th:if="${sucesso != null || erro != null || alerta != null}" type="text/javascript">
		$("#mensagem").modal("show");	
	</script>	

</body>