<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" charset="utf-8">
    <title>Usuarios</title>

    <link href="/css/main.css" rel="stylesheet"/>

    <!-- WEBJARS -->
    <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css"/>
</head>

<body class="main-bg-amarelo">
<!-- Barra de Menu -->
<section th:insert="navbar :: navbar"></section>

<section class="container">
    <form class="shadow-sm rounded mt-4 mb-2 p-2" enctype="multipart/form-data" th:object="${model}">
        <input type="hidden" th:field="*{id}">

        <div class="row">
            <div class="col-12">
                <h5 class="text-center main-text-castanho">Cadastro de Usuarios</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-12 mt-3">
                <h5 class="text-center main-text-castanho">Endereço</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-6 mt-1">
                <div class="input-group input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="cep">CEP:</label>
                    </div>
                    <input class="form-control" type="text" id="cep" name="cep"
                           th:field="*{cep}">
                </div>
                <div class="col-auto mt-3">
                    <button class="btn btn-primary" type="submit" formmethod="post" th:formaction="@{/enderecos_html/form/cep}">
                        Buscar CEP
                    </button>
                </div>
                <p class="text-danger m-0 p-0" th:each="erro : ${#fields.errors('cep')}" th:text="${erro}"></p>
            </div>

            <div class="col-6 mt-1">
                <div class="input-group input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="logradouro">Logradouro:</label>
                    </div>
                    <input class="form-control" type="text" id="logradouro" name="logradouro"
                           th:field="*{logradouro}">
                </div>
                <p class="text-danger m-0 p-0" th:each="erro : ${#fields.errors('logradouro')}"
                   th:text="${erro}"></p>
            </div>

            <div class="col-6 mt-1">
                <div class="input-group input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="adicional">Complemento:</label>
                    </div>
                    <input class="form-control" type="text" id="adicional" name="adicional"
                           th:field="*{adicional}">
                </div>
                <p class="text-danger m-0 p-0" th:each="erro : ${#fields.errors('adicional')}"
                   th:text="${erro}"></p>
            </div>

            <div class="col-6 mt-1">
                <div class="input-group input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="numero">Numero:</label>
                    </div>
                    <input class="form-control" type="text" id="numero" name="numero"
                           th:field="*{numero}">
                </div>
                <p class="text-danger m-0 p-0" th:each="erro : ${#fields.errors('numero')}"
                   th:text="${erro}"></p>
            </div>


            <div class="col-6 mt-1">
                <div class="input-group input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="bairro">Bairro:</label>
                    </div>
                    <input class="form-control" type="text" id="bairro" name="endereco.bairro"
                           th:field="*{bairro}">
                </div>
                <p class="text-danger m-0 p-0" th:each="erro : ${#fields.errors('bairro')}"
                   th:text="${erro}"></p>
            </div>

            <div class="col-6 mt-1">
                <div class="input-group input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="localidade">Cidade:</label>
                    </div>
                    <input class="form-control" type="text" id="localidade" name="localidade"
                           th:field="*{localidade}">
                </div>
                <p class="text-danger m-0 p-0" th:each="erro : ${#fields.errors('localidade')}"
                   th:text="${erro}"></p>
            </div>

            <div class="col-6 mt-1">
                <div class="input-group input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="uf">Estado:</label>
                    </div>
                    <input class="form-control" type="text" id="uf" name="uf"
                           th:field="*{uf}">
                </div>
                <p class="text-danger m-0 p-0" th:each="erro : ${#fields.errors('uf')}"
                   th:text="${erro}"></p>
            </div>
        </div>


        <div class="row justify-content-end">
            <div class="col-auto mt-3">
                <button class="btn btn-primary" type="submit" formmethod="post" th:formaction="@{/enderecos_html/form}">
                    Salvar
                </button>
            </div>
        </div>
    </form>
    <section th:insert="mensagem :: mensagem"></section>
</section>

<script th:if="${sucesso != null || erro != null || alerta != null}" type="text/javascript">
    $("#mensagem").modal("show");

</script>

</body>