.main-bg-castanho {background-color: #4F2020 !important;}
.main-bg-amarelo {background-color: #f6c585 !important;}
.main-bg-rosa {background-color: #FF96C5 !important;}
.main-bg-castanho-cachorro {background-color: #B55040 !important;}
.main-bg-laranja {background-color: #fba638 !important;}
.main-bg-branco {background-color: #FFFFFF !important;}
.main-bg-preto-90 {background-color: #1A1A1A !important;}

.main-bg-gradient {background-image: linear-gradient(rgba(#eeaeca, #47ded2);}

.main-text-castanho {color: #4F2020 !important;}
.main-text-amarelo {color: #FFFF99 !important;}
.main-text-rosa {color: #FF96C5 !important;}
.main-text-castanho-cachorro {color: #B55040 !important;}
.main-text-laranja-gato {color: #F97E2B !important;}
.main-text-branco {color: #FFFFFF !important;}
.main-text-preto-90 {color: #1A1A1A !important;}

.main-font-1 {font-size: 1px !important;}

.redondo {border-radius: 30px;}

.img-card {
  width: 286px;
  height: 160px;
  overflow: hidden;
}

.img-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.container{
  max-width: 90% !important;
}

.custom-file-input ~ .custom-file-label::after {
    content: "selecione um arquivo*";
}

body{
    overflow-y: scroll;
   min-height: 100%;
}