<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0 shrink-to-fit=no" charset="utf-8">
	<title>Pets</title>
	<link href="/imagens/dog.png" rel="icon" type="image/x-icon" />

	<!-- WEBJARS -->
	<script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
	<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
	<link href="css/main.css" rel="stylesheet" />
</head>

<body>
	<section th:fragment="navbar">

		<nav class="navbar navbar-expand-lg navbar-light justify-content-between shadow-sm rounded">
			<a class="navbar-brand main-text-castanho" href="#"><img class="w-25" src="/imagens/dog.png"><span
					class="h2"> Pets</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item active">
						<a class="nav-link main-text-castanho main-font-22" href="/">Home</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle main-text-castanho main-font-22" href="#"
							id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> Pet </a>
						<div class="dropdown-menu main-bg-amarelo" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item main-text-castanho" href="/pet/form">Cadastro</a>
							<a class="dropdown-item main-text-castanho" href="/pet/listar">Lista</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle main-text-castanho main-font-22" href="#"
							id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true"
							aria-expanded="false"> Especie </a>
						<div class="dropdown-menu main-bg-amarelo" aria-labelledby="navbarDropdownMenuLink">
							<a class="dropdown-item main-text-castanho" href="/especie/form">Cadastrar</a>
							<a class="dropdown-item main-text-castanho" href="/especie/listar">Lista de Especies</a>
						</div>
					</li>
				</ul>
			</div>
		</nav>

	</section>
</body>